{% extends "base.html" %}
{% block content%}


<div class="conteiner col-12" id="conteiner">
    
    <div id="intro" class="view">

        <div class="mask rgba-black-strong">

            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                <div class="row d-flex justify-content-center text-center">

                    <div class="col-md-10">

                        <!-- Heading -->
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Compras Comunitarias</h2>

                        <!-- Divider -->
                        <hr class="hr-light">

                    
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

{%endblock%}