{% extends "base.html" %}
{% block content%}


<div class="container col-12" id="conteiner">
    
    <div id="intro" class="view">

        <div class="mask rgba-black-strong">

            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                <div class="row d-flex justify-content-center text-center">

                    <div class="col-md-10 mb-3">

                        <div class="conteiner rounded-corners">
                          <h2 class="display-4 font-weight-bold text-light pt-5 mb-2">Compras Comunitarias</h2>

                        <!-- Divider -->
                          <hr class="hr-light">
                        
                        <!-- parrafo -->
                          <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
                        
                        <!-- Divider -->
                          <hr class="hr-light">
                        </div>
                        <!-- instrucciones -->
                        <div class="container">
                            <div class="row">
                              <div class="col">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
                              </div>
                              <div class="col">
                                <img src="https://files.realpython.com/media/API-Integration-in-Python_watermark.c7945f579b25.jpg" style="max-height: 200px; max-width: 200;"> 
                              </div>
                            </div>
                            <hr class="hr-light">
                            <div class="row">
                              <div class="col">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
                              </div>
                              <div class="col">
                                <img src="https://files.realpython.com/media/API-Integration-in-Python_watermark.c7945f579b25.jpg" style="max-height: 200px; max-width: 200;"> 
                              </div>
                            </div>
                            <hr class="hr-light">
                            <div class="row">
                              <div class="col">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
                              </div>
                              <div class="col">
                                <img src="https://files.realpython.com/media/API-Integration-in-Python_watermark.c7945f579b25.jpg" style="max-height: 200px; max-width: 200;"> 
                              </div>
                            </div>
                            <hr class="hr-light">
                            <div class="row">
                              <div class="col">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud"
                              </div>
                              <div class="col">
                                <img src="https://files.realpython.com/media/API-Integration-in-Python_watermark.c7945f579b25.jpg" style="max-height: 200px; max-width: 400;">
                              </div>
                            </div>
                            <hr class="hr-light">
                            </div>
                          </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

{%endblock%}