{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-good-table@2.21.9/dist/vue-good-table.js"></script>
    <script src="https://kit.fontawesome.com/1de09feced.js" crossorigin="anonymous"></script>
    
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-good-table@2.21.9/dist/vue-good-table.min.css" crossorigin="anonymous">
  <style type="text/css">
    
    tr.await {
        color: #404E67 !important;
    }

    tr.paid {
        color: #5ED39A !important;
    }

    tr.cancel {
        color: #FF7588 !important;
    }

    tr.inside {
        color: #FFA87D !important;
    }
    .qty .count {
        color: #000;
        display: inline-block;
        vertical-align: top;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 2px
        ;min-width: 35px;
        text-align: center;
    }
    .qty .plus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 50%;
        }
    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        border-radius: 50%;
        background-clip: padding-box;
    }
  </style>
{% endblock %}

{% block content %}
    <br/>
    <div id="vue-app">

        <div class="row grouped-multiple-statistics-card">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                                <div class="d-flex align-items-start border-right-blue-grey border-right-lighten-5">
                                <span class="card-icon secondary d-flex justify-content-center mr-3">
                                    <i class="icon p-1 icon-clock customize-icon font-large-2 p-1"></i>
                                </span>
                                <div class="stats-amount mr-3">
                                    <h3 class="heading-text text-bold-600">[[ awaiting ]]</h3>
                                    <p class="sub-heading">Esperando</p>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                                <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">
                                <span class="card-icon warning d-flex justify-content-center mr-3">
                                    <i class="icon p-1 icon-handbag customize-icon font-large-2 p-1"></i>
                                </span>
                                <div class="stats-amount mr-3">
                                    <h3 class="heading-text text-bold-600">[[ buying ]]</h3>
                                    <p class="sub-heading">Retirando</p>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                                <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">
                                    <span class="card-icon success d-flex justify-content-center mr-3">
                                        <i class="icon p-1 icon-like customize-icon font-large-2 p-1"></i>
                                    </span>
                                    <div class="stats-amount mr-3">
                                        <h3 class="heading-text text-bold-600">[[ delivered ]] </h3>
                                        <p class="sub-heading">Entregados</p>
                                    </div>
                                    <span class="inc-dec-percentage">
                                        <small class="success"><i class="icon-wallet"></i> $[[ cash ]]</small>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-3 col-sm-6 col-12">
                                <div class="d-flex align-items-start">
                                    <span class="card-icon danger d-flex justify-content-center mr-3">
                                        <i class="icon p-1 icon-dislike customize-icon font-large-2 p-1"></i>
                                    </span>
                                    <div class="stats-amount mr-3">
                                        <h3 class="heading-text text-bold-600">[[ canceled ]]</h3>
                                        <p class="sub-heading">Cancelados</p>
                                    </div>
                                    <span class="inc-dec-percentage">
                                        <small class="danger"><i class="icon-wallet"></i> $[[ cash_cancel ]]</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" :style="{'width': `${progress_ok}%`}" :aria-valuenow="progress_ok" aria-valuemin="0" aria-valuemax="100">[[ progress_ok ]]%</div>
            <div class="progress-bar bg-danger" role="progressbar" :style="{'width': `${progress_cancel}%`}" :aria-valuenow="progress_cancel" aria-valuemin="0" aria-valuemax="100">[[ progress_cancel ]]%</div>
        </div>
        <br/>
        <vue-good-table
            ref="MyCoolTable"
            theme="polar-bear"
            :columns="columns"
            :rows="rows"
            :fixed-header="true"
            :row-style-class="rowStyleClassFn"
            :search-options="{
                enabled: true,
            }"
            :group-options="{
                enabled: true,
                collapsable: true
            }">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'name'">
                    <span class="d-none">[[props.row.name]]</span> 
                </span>
                <span v-else-if="props.column.field == 'price'">
                    $ [[ props.formattedRow[props.column.field] ]]
                </span>
                <span v-else-if="props.column.field == 'actions'">
                    <button class="btn btn-secondary btn-sm" @click="ok"><i class="fas fa-check"></i></button>
                </span>
                <span v-else>
                    [[ props.formattedRow[props.column.field] ]]
                </span>
            </template>
            <template slot="table-header-row" slot-scope="props">
                <span v-if="props.column.field == 'price'">
                    <span>$ [[ props.formattedRow[props.column.field] ]]</span>
                </span>
                <span v-else-if="props.column.field == 'actions'">
                    <span>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-dark" @click="await(props.row.id)"><i class="icon-clock"></i></button>
                            <button class="btn btn-dark" @click="inside(props.row.id)"><i class="icon-handbag"></i></button>
                            <button class="btn btn-dark" @click="pay(props.row.id)"><i class="icon-like"></i></button>
                            <button class="btn btn-dark" @click="cancel(props.row.id)"><i class="icon-dislike "></i></button>
                        </div>
                        <button class="btn btn-dark" @click="edit(props.row.pk)"><i class="icon-pencil"></i></i></button>
                    </span>
                </span>
                <span v-else>
                    <span>[[ props.formattedRow[props.column.field] ]]</span>
                </span>
            </template>
        <vue-good-table>
    </div>

    <script type="text/javascript">
        $('i').on('click', function(e){
            e.stopPropagation();
            // other stuff here
        })
        let app = new Vue({
            el: "#vue-app",
            components: {
                VueGoodTable: window['vue-good-table'].VueGoodTable
            },
            delimiters: ['[[', ']]'],
            methods: {
                await: function (id) {
                    var foundIndex = this.rows.findIndex(x => x.id == id);
                    this.rows[foundIndex].status = "await";
                },
                inside: function (id) {
                    var foundIndex = this.rows.findIndex(x => x.id == id);
                    this.rows[foundIndex].status = "inside";
                },
                pay: function (id) {
                    var foundIndex = this.rows.findIndex(x => x.id == id);
                    this.rows[foundIndex].status = "paid";
                },
                cancel: function (id) {
                    var foundIndex = this.rows.findIndex(x => x.id == id);
                    this.rows[foundIndex].status = "cancel";
                },
                edit: function (pk) {
                    window.open(
                        '/admin/orders/order/' + pk + '/change' ,
                        '_blank' // <- This is what makes it open in a new window.
                    );
                },
                ok: function (e) {
                    let target = e.target;
                    if(e.target.tagName == "I"){
                        target = target.parentNode;
                    }
                    target.classList.toggle('btn-success');
                },
                rowStyleClassFn: function (row) {
                    return row.status;
                },
            },
            computed: {
                delivered: function(id) {
                    let numDelivered = this.rows.reduce(function (n, r) {
                        return n + (r.status == 'paid');
                    }, 0);
                    return numDelivered;
                },
                awaiting: function(id) {
                    let numAwaiting = this.rows.reduce(function (n, r) {
                        return n + (r.status == 'await' );
                    }, 0);
                    return numAwaiting;
                },
                canceled: function(id) {
                    let numCancel= this.rows.reduce(function (n, r) {
                        return n + (r.status == 'cancel');
                    }, 0);
                    return numCancel;
                },
                buying: function(id) {
                    let numInside= this.rows.reduce(function (n, r) {
                        return n + (r.status == 'inside');
                    }, 0);
                    return numInside;
                },
                cash: function(id) {
                    let numInside= this.rows.reduce(function (n, r) {
                        return n + ((r.status == 'paid')?r.price:0);
                    }, 0);
                    return numInside.toLocaleString("es-ar");
                },
                cash_cancel: function(id) {
                    let numInside= this.rows.reduce(function (n, r) {
                        return n + ((r.status == 'cancel')?r.price:0);
                    }, 0);
                    return numInside.toLocaleString("es-ar");
                },
                total: function(id) {
                    return this.rows.length;
                },
                progress_ok: function(id) {
                    return (this.delivered/this.total).toFixed(2) * 100;
                },
                progress_cancel: function(id) {
                    return (this.canceled/this.total).toFixed(2) * 100;
                },
            },
            data: function () {
                return {
                    columns: [
                        {
                            label: 'Nombre',
                            field: 'name',
                        },
                        {
                            label: 'DNI',
                            field: 'dni',
                        },
                        {
                            label: 'Producto',
                            field: 'product',
                        },
                        {
                            label: 'Cantidad',
                            field: 'quantity',
                            type: 'number',
                        },
                        {
                            label: '$',
                            field: 'price',
                            type: 'decimal',
                        },
                        {
                            label: 'Acciones',
                            field: 'actions',
                            sortable: false,
                        } 
                    ],
                    rows: {{ data.products_by_order | safe}},
                };
            },
        });
    </script>

{% endblock %}
