{% extends "orders/order_success.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row text-center">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row text-center mb-5">

  <div class="col-sm-12">
    <a class="btn btn-primary bg-success" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary bg-success" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
{%endif%}


<h1>este es su pedido</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Producto</th>
    <th scope="col" class="text-right">Cantidad</th>
    <th scope="col" class="text-right">Precio Unitario</th>
    <th scope="col" class="text-right">Precio Total</th>
    
  </tr>
  {% comment %} {%for c, listing_products in categories.items%}
    <td> {{c}}</td>
  {%endfor%} {% endcomment %}
  </thead>
  <tbody>
  {% for op in order.orderproduct_set.all %}
  {% if op.amount %}
  <tr>
    <td>{{op.product.product.name}} - {{op.product.presentation}}</td>
    <td class="text-right">{{op.amount}}</td>
    <td class="text-right">${{op.product.price}}</td>
    <td class="text-right">${{op.total}}</td>
  </tr>
  {% endif %}
  {% endfor %}

  </tbody>
  <tfoot>
  <tr>
    <th scope="row" colspan="3" class="text-right">Total:</th>
    <td class="text-right">${{order.total}}</td>
  </tr>
  </tfoot>
</table>

{% endblock %}
