{% extends "orders/order_success.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}Usuario: {{ object.username }}{% endblock %}

{% block content %}
<div class="container mt-3">

  <div class="row text-center">
    <div class="col-sm-12">

      <h1>{{ object.username }}</h1>
      {% comment %} {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %} {% endcomment %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row text-center mb-5">

  <div class="col-sm-12">
    <a class="btn btn-primary bg-success" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary bg-success" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
{%endif%}

<hr/>
{% if  order%}
  <h1 class="text-center">Pedido Actual</h1>
  {% comment %} {% include 'orders/order_success.html' %} {% endcomment %}
  {{order}}
  <table class="table table-hover table-responsive-sm">
      <thead>
      <tr>
        <th scope="col" class="black-background text-white">Producto</th>
        <th scope="col" class="text-right text-white black-background">Cantidad</th>
        <th scope="col" class="text-right text-white black-background">Precio Unitario</th>
        <th scope="col" class="text-right text-white black-background">Precio Total</th>
        
      </tr>
      </thead>
      <tbody>
      {% for op in order.orderproduct_set.all %}
      {% if op.amount %}
      <tr>
        <td class="table-black-background text-white">{{op.product.product.name}} - {{op.product.presentation}}</td>
        <td class="text-right text-white table-black-background">{{op.amount}}</td>
        <td class="text-right text-white table-black-background">${{op.product.price}}</td>
        <td class="text-right text-white table-black-background">${{op.total}}</td>
      </tr>
      {% endif %}
      {% endfor %}

      </tbody>
      <tfoot>
      <tr>
        <th scope="row" colspan="3" class="text-right">Total:</th>
        <td class="text-right text-white black-background">${{order.total}}</td>
      </tr>
      </tfoot>
  </table>
{% else %}
  <h1>No hay pedidos aun</h1>
  <h2> Has tu pedido <a data-value="pedido"  href="{% url 'orders:create' %}"> aqui </a> ! </h2>
{% endif %}
{% endblock %}
