{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    h1 { font-size: 24px; font-weight: bold }
  </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="success-notification" class="alert alert-success" role="alert" hidden>
            Correos de confirmación enviados correctamente!
        </div>
        
        <div style="margin-bottom: 1rem;">
            <button id="loading-button" class="btn btn-primary" type="button" disabled hidden>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Enviando correos de confirmación...
            </button>
            <button id="send-button" type="button" class="btn btn-primary" onClick="sendEmails()">Enviar correos de confirmación</button>
        </div>
        
        <div class="row">
            <div class="col-md-9">
                {% if data.orders %}
                  <table class="table table-bordered table-hover">
                      <thead>
                          <tr>
                              <th>Nombre</th>
                              <th>Correo Electronico</th>
                              <th>Estado de Notificacion</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for order in data.orders %}
                              <tr>
                                  <td>{{order.user.name}}</td>
                                  <td>{{order.user.email}}</td>
                                  {% if order.notification_status == "not_notified" %}
                                    <td align="center">
                                        <span class="badge badge-danger">No notificado</span>
                                    </td>
                                  {% else %}
                                    <td align="center">
                                        <span class="badge badge-success">Notificado</span>
                                    </td>
                                  {% endif %}
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                {% else %}
                  <div>Todavia no hay pedidos</div>
                {% endif %}


            </div>
        </div>
    </div>

    <script>
        function sendEmails() {
            $("#loading-button").prop('hidden', false);
            $("#send-button").prop('hidden', true);
            axios({
                method: 'post',
                url: 'send-emails/',
                data: {},
                responseType: 'json', 
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}", 
                    "content-type": "application/json"
                }
            })

            .then ( function (response){ //success function
                console.log('axios ajax success. data returned ==' + response.data); //if returned data format is like {[ {'id':1,'id':2} ]} we may have to do response.data['output_dict'][0]['id']
                $("#loading-button").prop('hidden', true);
                $("#send-button").prop('hidden', false);
                $("#success-notification").prop('hidden', false);
                setTimeout(() => {
                    location.reload()
                }, 1500)
                fn();
            }.bind(this)) //bind(this) is required when accessing Vue variable inside Axios success function (.then)

            .catch ( function (error){ //error function
                console.log('Axios ajax error');
            });

        }
    </script>
{% endblock %}

