{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load dict_key %}

{% block title %}
Pedidos
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center">
    {% if order %}
    Modificar Pedido 
    {% else %}
    Nuevo Pedido 
    {% endif %}
  </h1>

  <form class="form-horizontal" method="post" action="{% url 'orders:create' %}">
    {% csrf_token %}
    <input name="listing" type="hidden" value="{{listing.id}}">
    {{ formset.management_form }}
    <ul class="errorlist">
      {% if form.non_field_errors %}
      <li>{{ form.non_field_errors }}</li>
      {% endif %}
      {% for field in form %}
      {% if field.errors %}
      <li>
        {{ field.label }}
        <ul class="errorlist">
          {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    
  {%for c, listing_products in categories.items%}

    <div>
        <div id="accordion" >
          <div class="carda bg-warning mb-3">
            <div class="card-header" id="headingOne">
              <h3 class="mb-0">
                <button type="button" class="btn btn-link btn-block " data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne" id="boton">
                  {{c}}
                </button>
              </h3>
            </div>
          </div>
        </div>
      </div>
          



      {% regroup listing_products by product as products %}
      {% for p in products%}

      <div class="col-lg-12  mb-3">
        <div id="collapse{{forloop.parentloop.counter}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
              {% thumbnail p.grouper.image "600x200" crop="center" as im %}
                <img class="img-fluid img-thumbnail d-sm-none d-block mb-2" src="{{im.url}}" alt="{{p.grouper.name}}">
              {% endthumbnail %}
              <div class="d-flex">
                {% thumbnail p.grouper.image "100x100" crop="center" as im %}
                  <img class="img-fluid img-thumbnail d-sm-block d-none" src="{{im.url}}" alt="{{p.grouper.name}}">
                {% endthumbnail %}
                <div class="pl-sm-3">
                  <h4 class="card-title font-weight-bolder">{{p.grouper.name}}</h5>
                  <h6><a href="/orders/producer/{{p.grouper.producer.id}}">{{p.grouper.producer.name}}</a> - <a href="{{p.grouper.producer.url}}" class="producer">{{p.grouper.producer.url}}</a></h6>
                  <p class="card-text">{{p.grouper.description}}</p>
                    {% for tag in p.grouper.tag_set.all %}
                      <a class="tags">{{tag.name}}</a>
                        {% thumbnail tag.image "20x20" crop="20%" as im %} 
                        <img class="img-fluid img-thumbnail d-sm-inline-block d-none" src="{{im.url}}">
                        {% endthumbnail %} 
                
                    {% endfor %}
                  
                </div>
              </div>
              <ul class="list-group list-group-flush mt-2">
                {% for lp in p.list %}
                {% with n=iterator.next %}
                <li class="list-group-item">
                  <div class="row">
                      <input type="hidden" class="price" name="orderproduct_set-{{n}}-product" value="{{lp.id}}">
                      <input id="{{lp.id}}_price" type="hidden" class="price" value="{{lp.price}}" data-id="{{lp.id}}">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                      <span>{{lp.presentation}} - ${{lp.price}}</span>
                    </div>
                    <div class="input-group input-group-sm col-8 col-md-4">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary btn-minus" type="button" data-id="{{lp.id}}">-</button>
                      </div>
                      <input id="{{lp.id}}_cant" name="orderproduct_set-{{n}}-amount" type="number" data-id="{{lp.id}}"
                            class="form-control text-right input-cant" value="{{amounts | dict_key:lp.id}}" min="0" step="1">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-plus" type="button" data-id="{{lp.id}}">+</button>
                      </div>
                    </div>
                    <div class="d-inline-flex align-items-baseline justify-content-end col-4 col-md-2">
                      <span>$</span>
                      <input id="{{lp.id}}_subtotal" type="text" readonly data-id="{{lp.id}}"
                            class="text-right subtotal input_cant form-control-sm form-control-plaintext" value="00,00">
                    </div>
                  </div>
                </li>
                {%endwith%}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
  {%endfor%}   
  {%endfor%}
    <div class="col-lg-8 offset-lg-2 mb-3">
      <div class="card shadow p-3 mb-5">
        <div class="card-header bg-primary text-light">
          Total
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-end mb-3">
            <span class="text_right" id="total">$0,00</span>
          </div>
          <div class="control-group ">
            <div class="controls text-right">
              <button id="order_button" type="submit" class="btn btn-success bg-primary text-light">Hacer Pedido</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>  
{% endblock %}



{% block javascript %}
{{block.super}}

<script type="text/javascript">

  $(function () {
    $('.btn-minus').on('click', function (evt) {
      let $target = $(evt.target);
      let id = $target.data('id');
      let input_cant = $(`.input-cant[data-id='${id}']`);
      let cant = parseInt(input_cant.val(), 10) || 0;
      input_cant.val(Math.max(0, cant - 1));
      input_cant.change();
    });
    $('.btn-plus').on('click', function (evt) {
      let $target = $(evt.target);
      let id = $target.data('id');
      let input_cant = $(`.input-cant[data-id='${id}']`);
      let cant = parseInt(input_cant.val(), 10) || 0;
      input_cant.val(cant + 1);
      input_cant.change();
    });

    function fmt_num(num) {
      return num.toFixed(2).replace(".", ",");
    }

    function calc_total() {
      let total = 0;
      $(".subtotal").each(function (idx, el) {
        let val = parseFloat($(el).val())
        total += val ? val : 0;
      });
      should_disable_button = total <= 0;
      $("#order_button").prop('disabled', should_disable_button);
      $("#total").text("$" + fmt_num(total));
    }

    $(".input-cant").on("change", function (evt) {
      let $target = $(evt.target);
      let id = $target.data('id');
      let price = parseFloat($(`.price[data-id='${id}']`).val())
      let cant = parseInt($(`.input-cant[data-id='${id}']`).val(), 10) || 0;
      $target.val(cant);
      $(`.subtotal[data-id='${id}']`).val(fmt_num(cant * price));
      calc_total();
    });
    calc_total();
    $('.input-cant').change();
  });

</script>
{% endblock %}
