{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}
Pedido realizado
{% endblock %}

{% block content %}
<h1 class="text-center mb-3">Su pedido fue realizado correctamente!</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col"class="bg-primary">Producto</th>
    <th scope="col" class="text-right bg-warning">Cantidad</th>
    <th scope="col" class="text-right bg-success">Precio Unitario</th>
    <th scope="col" class="text-right bg-danger">Precio Total</th>
    
  </tr>
  </thead>
  <tbody>
  {% for op in order.orderproduct_set.all %}
  {% if op.amount %}
  <tr>
    <td class="bg-primary">{{op.product.product.name}} - {{op.product.presentation}}</td>
    <td class="text-right bg-warning">{{op.amount}}</td>
    <td class="text-right bg-success">${{op.product.price}}</td>
    <td class="text-right bg-danger">${{op.total}}</td>
  </tr>
  {% endif %}
  {% endfor %}

  </tbody>
  <tfoot>
  <tr>
    <th scope="row" colspan="3" class="text-right">Total:</th>
    <td class="text-right bg-danger">${{order.total}}</td>
  </tr>
  </tfoot>
</table>
{% endblock %}
