{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}
Pedido realizado
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-3 mb-3">Su pedido fue realizado correctamente!</h1>

  <table class="table table-hover table-responsive-sm">
    <thead>
    <tr>
      <th scope="col"class="text-white black-background">Producto</th>
      <th scope="col" class="text-right text-white black-background">Cantidad</th>
      <th scope="col" class="text-right text-white black-background">Precio Unitario</th>
      <th scope="col" class="text-right text-white black-background">Precio Total</th>
      
    </tr>
    </thead>
    <tbody>
    {% for op in order.orderproduct_set.all %}
    {% if op.amount %}
    <tr>
      <td class="text-white table-black-background">{{op.product.product.name}} - {{op.product.presentation}}</td>
      <td class="text-right text-white table-black-background">{{op.amount}}</td>
      <td class="text-right text-white table-black-background">${{op.product.price}}</td>
      <td class="text-right text-white table-black-background">${{op.total}}</td>
    </tr>
    {% endif %}
    {% endfor %}

    </tbody>
    <tfoot>
    <tr>
      <th scope="row" colspan="3" class="text-right">Total:</th>
      <td class="text-right text-white black-background">${{order.total}}</td>
    </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
