{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
Pedido realizado
{% endblock %}

{% block content %}
<h1>Su pedido fue realizado correctamente</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Producto</th>
    <th scope="col" class="text-right">Cantidad</th>
    <th scope="col" class="text-right">Precio Unitario</th>
    <th scope="col" class="text-right">Precio Total</th>
  </tr>
  </thead>
  <tbody>
  {% for op in order.orderproduct_set.all %}
  {% if op.amount %}
  <tr>
    <td>{{op.product.product.name}} - {{op.product.presentation}}</td>
    <td class="text-right">{{op.amount}}</td>
    <td class="text-right">${{op.product.price}}</td>
    <td class="text-right">${{op.total}}</td>
  </tr>
  {% endif %}
  {% endfor %}

  </tbody>
  <tfoot>
  <tr>
    <th scope="row" colspan="3" class="text-right">Total:</th>
    <td class="text-right">${{order.total}}</td>
  </tr>
  </tfoot>
</table>
{% endblock %}
