{% extends "orders/order_form.html" %}
{% load thumbnail %}

{% block title %}
{{object}}
{% endblock %}

{% block content %}

<h1 class="col-lg-8 offset-lg-2 mb-3">
    <a>{{object}}#{{object.id}}</a>
        {% thumbnail object.logo "100x100" crop="center" as im %}
        <img class="img-fluid img-thumbnail d-sm-block d-none" src="{{im.url}}" alt="{{p.grouper.name}}">
        {% endthumbnail %}
</h1>


<ul>
    {% for lp in products %}
        <li>
                <h4>{{lp.product.name}}{{lp.price}} </h4>
        </li>
                <br>
    {% endfor %}
</ul>
{% endblock %}